.List {
    display: flex;
    flex-direction: column;
}

.ListItem {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.ListHeading {
    margin-bottom: 5px;
}

.MuiCheckbox-root {
    margin-bottom: 5px;
}